extends ../_layouts/master

append body-content
  .row
    .right
      md-button.md-primary.right(href='/questions/new')
        i.fa.fa-plus
        | &nbsp;&nbsp;
        span New Question
    .clearfix
  .row
    md-table-container(data-ng-controller='QuestionAdminController as qac')
      table(md-table, data-ng-if='qac.isLoading').questions
          thead(md-head)
            tr(md-row)
              th(md-column)
                span Questions
          tbody(md-body)
            tr(md-row)
              td(md-cell)
                .text-center &nbsp;
      table(md-table, data-ng-if='!qac.isLoading && !qac.questions.length').questions
          thead(md-head)
            tr(md-row)
              th(md-column)
                span Questions
          tbody(md-body)
            tr(md-row)
              td(md-cell)
                .text-center
                  span There aren't any questions currently. Get started by&nbsp;
                  a(href='/questions/new') creating a new survey question
                  span .
      table(md-table, data-ng-if='qac.questions && qac.questions.length').questions
            thead(md-head)
              tr(md-row)
                th(colspan='3', md-column)
                  span Questions
            tbody(md-body)
              tr(md-row, data-ng-repeat='q in qac.questions', data-ng-class='{deleting: qac.isDeleting == q.id}')
                td(md-cell, data-ng-bind='q.text')
                td(md-cell, width='100').text-center
                  a(data-ng-href='/questions/{{q.key | uuid8}}/results') Responses
                td(md-cell, width='100').text-center
                  a(data-ng-href='/questions/{{q.key | uuid8}}') Edit
                  span &nbsp;|&nbsp;
                  a(href='javascript://', data-ng-click='qac.onDeleteClick($event, q)') Delete

