extends ../../_layouts/master

append body-content
  form(method='POST').row.small-up-1.medium-up-2.large-up-3
    .large-7.large-offset-2.columns
      fieldset.margin-top-sml
        h3.text-center.blue Enter your Question
        .row.margin-top-sml
          .large-12.columns
            textarea#question(rows="3", name="question", placeholder="Enter your question") #{question ? question.text : ''}
        .row
          .large-12.columns.margin-top-sml
            button.button.med.green.center.semi-trans(type="submit") Save
    input(type='hidden', name='csurf', value='#{csrfToken}')

