extends _layouts/master

append body-content
  div(layout='row')
    div(flex, layout-align='center').text-center
      img(src='https://s3.amazonaws.com/media-p.slid.es/uploads/hugogiraudel/images/36462/grumpy_cat_.png').no-q-logo
    div(flex, layout-align='center center', layout='row')
      div(flex).no-q-msg
        .title Don't get angry with me BUB.
        .sub-title There aren't any questions for you to answer at the moment.
