extends _layouts/master

append body-content
  div(layout='column', layout-align='center')
    div(flex).text-center
      img(src='https://s3.amazonaws.com/media-p.slid.es/uploads/hugogiraudel/images/36462/grumpy_cat_.png').no-q-logo
    div(flex).text-center
      h2 Don't get angry with me BUB.
      p There aren't any questions for you to answer at the moment. (hint: log in and create your own)
