extends _layouts/master

append body-content
  div(layout='row', layout-align='center center')
    div(flex).text-center
      h2 Thanks for answering.
      a(href='/').md-button.md-default Up for another?
