extends ../../_layouts/master

append body-content
  - if (question)
    script.
      window.__key = '#{question.key.substring(0, 8)}';
  div(data-ng-controller='QuestionController as qc', layout='row', layout-align='center center', layout-margin='0')
    form(method='post', action='/', flex='100', flex-sm='80', flex-md='65', flex-lg='50', flex-xl='40')
      md-card.md-whiteframe-12dp
        md-card-title
          md-card-title-text
            mdspan.md-headline {{qc.question.id ? 'Edit' : 'New'}} question
        md-card-content
          md-input-container.md-block.question
            label Question text
            input(data-ng-model='qc.question.text', md-autofocus='!qc.question.id').question
          md-list
            md-subheader.md-no-sticky
              ng-pluralize(count='qc.question.answers.length', when='{"one": "1 option", "other": "{} options"}')
            md-list-item(data-ng-repeat='answer in qc.question.answers').md-2-line
              md-input-container(flex='100').md-block.question.md-icon-right.md-icon-float
                label Option {{$index+1}}
                md-icon
                  i.fa.fa-circle-o
                input(data-ng-model='answer.text').option
                md-icon(data-ng-click='qc.onRemoveItemClick($index)').text-center.cursor-pointer
                  i.fa.fa-remove
            md-list-item(layout-align='center center')
              a.md-primary.md-button(data-ng-click='qc.onAddOptionClick($event)', layout-align='center center', tabindex='-1')
                i.fa.fa-plus
                | &nbsp;
                span Add another option
        md-card-actions(layout='row')
          md-button(flex, data-ng-disabled='!qc.isValid()', data-ng-click='qc.onSubmitClick($event)').md-button.md-raised.md-primary.sumo-green
            span {{ qc.isSubmitting ? 'Saving' : 'Save' }} Question
